body {
  background-color: gray;
  background-image: url(../images/body.png);
  font-size: 0em;
  margin: 0; }

header {
  background-image: url(../images/student.jpg);
  text-align: center;
  height: 600px;
  margin: 0;
  display: block;
  border: solid 1px black;
  margin-bottom: 0 !important;
  width: 100%;
  box-sizing: border-box; }
  header #title {
    text-align: center;
    margin: 0;
    font-size: 5rem;
    height: 200px;
    line-height: 200px;
    color: #E2751A;
    font-family: 'Andale Mono','Trebuchet MS',Arial,sans-serif; }

nav {
  background-color: #18191E;
  color: #A8A8C7;
  height: auto;
  box-shadow: 0px 5px 8px 0px #242424;
  border: solid 1px #08090d;
  margin: 0;
  width: 100%;
  box-sizing: border-box; }
  nav a {
    color: #A8A8C7;
    text-decoration: none;
    font-size: 1.5em; }
  nav > .menu {
    list-style-type: none;
    padding: 0;
    font-size: 0em;
    position: relative;
    height: auto;
    z-index: 10;
    margin: 0; }
    nav > .menu > li {
      display: inline-block;
      text-align: center;
      line-height: 3rem;
      height: 3em;
      font-size: 1rem;
      vertical-align: top; }
      nav > .menu > li .deroulant li {
        display: none; }
      nav > .menu > li:hover .deroulant {
        padding-left: 0; }
        nav > .menu > li:hover .deroulant li {
          display: block;
          background-color: #A8A8C7;
          border: solid 1px #08090d; }
          nav > .menu > li:hover .deroulant li a {
            color: #18191E;
            display: inline-block; }
          nav > .menu > li:hover .deroulant li:hover {
            background-color: #E2751A; }
            nav > .menu > li:hover .deroulant li:hover a {
              color: #18191E; }
    nav > .menu > li:hover {
      background-color: #E2751A; }
      nav > .menu > li:hover > a {
        color: #18191E; }

main {
  margin: 1rem;
  font-size: 0em; }
  main .page {
    background-color: #18191E;
    color: #A8A8C7;
    padding: 0.25%;
    position: relative; }
    main .page h2 {
      /*font-size:2em;
      margin:1em;*/
      color: #E2751A; }
    main .page fieldset {
      margin: 1em; }

.titre-categorie {
  background-color: #08090d;
  color: #E2751A;
  padding: 0.5em;
  margin: 0; }
  .titre-categorie h2 {
    /*font-size:2rem;
    margin-left:1em;*/ }

.categorie {
  background-color: #18191E;
  color: #A8A8C7;
  vertical-align: top;
  box-shadow: 0px 5px 8px 0px #242424; }
  .categorie article {
    font-size: 0em !important;
    padding: 1rem;
    border: solid 1px #08090d; }
    .categorie article > div {
      display: inline-block; }
    .categorie article .miniature {
      width: 30%;
      height: auto;
      margin: 0; }
      .categorie article .miniature img {
        width: 100%; }
    .categorie article .texte-article {
      margin: 0;
      vertical-align: top; }
      .categorie article .texte-article p {
        /*margin:0;
        padding:0 0.5em 0 0.5em;
        font-size:1.2rem;*/ }

a {
  color: #E2751A; }

.clear {
  clear: both;
  display: none; }

.details {
  background-color: #18191E; }
  .details .images {
    padding: 2rem;
    font-size: 0em !important; }
    .details .images .cadreAffichage {
      width: 80%;
      background-color: black;
      display: inline-block;
      height: 500px;
      padding: 0;
      margin: 0;
      vertical-align: top;
      font-size: 0em; }
      .details .images .cadreAffichage p {
        margin: 0;
        text-align: center; }
        .details .images .cadreAffichage p img {
          max-width: 100%;
          margin: auto;
          vertical-align: center;
          line-height: 500px;
          height: 500px;
          width: auto; }
    .details .images .miniaturesDetail {
      background-color: #2b2b2b;
      width: 20%;
      display: inline-block;
      height: 500px;
      text-align: center; }
      .details .images .miniaturesDetail img {
        height: 30%;
        width: 100%; }
      .details .images .miniaturesDetail .fleche {
        max-width: 100%;
        width: auto;
        height: 5%;
        margin-right: auto;
        margin-left: auto; }
  .details .descriptionRacoin {
    border: solid 1px black;
    color: #A8A8C7;
    height: 500px;
    width: 100%;
    padding: 1rem; }
    .details .descriptionRacoin tr td {
      padding: 1em;
      border: solid 1px black; }
    .details .descriptionRacoin td[colspan="2"] {
      text-align: center; }
      .details .descriptionRacoin td[colspan="2"] button {
        font-size: 2em;
        background-color: #E2751A;
        border-color: black; }

.detailsTechniques {
  box-sizing: border-box;
  border: solid 1px black;
  color: #A8A8C7; }
  .detailsTechniques p {
    padding: 2rem; }

.descriptionAnnonceur p {
  color: #A8A8C7;
  padding: 2rem; }

@media screen and (max-width: 320px) {
  .row {
    width: 100%;
    font-size: 0em;
    margin-bottom: 1rem; }
    .row > *:last-child {
      margin-right: 0 !important; }

  .row .p-1 {
    width: 24.5%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .p-2 {
    width: 49.5%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .p-3 {
    width: 74.5%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .p-4 {
    width: 99.5%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .offsetP-1 {
    margin-left: 24.5%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .offsetP-2 {
    margin-left: 49.5%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .offsetP-3 {
    margin-left: 74.5%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .offsetP-4 {
    margin-left: 99.5%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  header {
    background-image: url(../images/header.png);
    text-align: center;
    height: 75px;
    margin: 0;
    display: block;
    border: solid 1px black; }
    header #title {
      text-align: center;
      margin: 0;
      font-size: 2rem;
      height: 200px;
      line-height: 75px;
      color: #E2751A;
      font-family: 'Andale Mono','Trebuchet MS',Arial,sans-serif; }

  .buttonNav {
    height: 3rem;
    display: inline-block; }

  .buttonNav1 {
    display: inline-block; }

  .titre-categorie {
    box-sizing: border-box;
    border: solid 1px #E2751A; }

  ul {
    padding-left: 15px; }

  .hiddenPhone {
    display: none; }

  body nav .hiddenPhone {
    display: none; }

  .titre-categorie h2 {
    font-size: 1.1rem;
    margin-left: 1em; }

  main .page h2 {
    font-size: 1.2em;
    margin: 0.6em; }

  article {
    overflow: auto; }
    article h5 {
      font-size: 1.1rem; }
    article .texte-article {
      width: 100%;
      font-size: 1em;
      padding: 0px; }
      article .texte-article p {
        margin: 0;
        padding: 0 0.5em 0 0.5em;
        font-size: 1rem; }

  .details .images .miniaturesDetail {
    display: none; }

  .imageDetail {
    width: 100%;
    display: none; }

  .details .images .cadreAffichage p img {
    max-height: 200px; }

  .details .images .cadreAffichage {
    max-height: 200px; }

  .formAjout {
    padding: 0.25rem; }
    .formAjout button {
      margin-left: 1em; }
    .formAjout p {
      margin: 0; }
    .formAjout .ajoutImage * {
      display: inline-block; }
    .formAjout .ajoutImage .photosAjoutees {
      vertical-align: top; }
    .formAjout .ajoutImage .annuler {
      width: 1em;
      height: 1em;
      padding-left: 0.5em; }
    .formAjout .ajoutImage table tr {
      display: block;
      padding: 0 0 0 1em; }
      .formAjout .ajoutImage table tr td {
        padding: 0; }
    .formAjout .description #description {
      width: 100%;
      height: 25em; }

  .grosBouton {
    font-size: 1em;
    background-color: #E2751A;
    border-color: black;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    display: block; }

  .titre-categorie a {
    font-size: 0.8em;
    margin-right: 0.5em;
    float: right; } }
@media screen and (min-width: 321px) and (max-width: 1280px) {
  .hiddenTablet {
    display: none; }

  .rowTablet {
    width: 100%;
    font-size: 0em;
    margin-bottom: 1rem; }
    .rowTablet > *:last-child {
      margin-right: 0 !important; }

  .rowTablet .t-1 {
    width: 12.0625%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .rowTablet .t-2 {
    width: 24.625%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .rowTablet .t-3 {
    width: 37.1875%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .rowTablet .t-4 {
    width: 49.75%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .rowTablet .t-5 {
    width: 62.3125%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .rowTablet .t-6 {
    width: 74.875%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .rowTablet .t-7 {
    width: 87.4375%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .rowTablet .t-8 {
    width: 100%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .grosBouton {
    font-size: 2em;
    background-color: #E2751A;
    border-color: black;
    width: 10em;
    margin-right: auto;
    margin-left: auto;
    display: block; }

  main .page h2 {
    font-size: 2em;
    margin: 1em; }

  article {
    overflow: auto; }
    article h5 {
      font-size: 1.5rem; }
    article .texte-article {
      width: 70%; }
      article .texte-article p {
        margin: 0;
        padding: 0 0.5em 0 0.5em;
        font-size: 1.2rem; }

  .titre-categorie h2 {
    font-size: 2rem;
    margin-left: 1em; }

  header {
    height: 550px; }

  .formAjout {
    font-size: 1rem;
    padding: 2rem 5rem 0 5rem; }
    .formAjout button {
      margin-left: 1em; }
    .formAjout p {
      margin: 0; }
    .formAjout .ajoutDetails, .formAjout .ajoutImage {
      padding: 2rem 5rem 0 5rem; }
    .formAjout .ajoutImage * {
      display: inline-block; }
    .formAjout .ajoutImage .photosAjoutees {
      vertical-align: top; }
    .formAjout .ajoutImage .annuler {
      width: 1em;
      height: 1em;
      padding-left: 0.5em; }
    .formAjout .ajoutImage table tr {
      display: block;
      padding: 0 0 0 1em; }
      .formAjout .ajoutImage table tr td {
        padding: 0; }
    .formAjout .description {
      padding: 2rem 5rem 0 5rem; }
      .formAjout .description #description {
        width: 100%;
        height: 25em; }

  #rechercher {
    font-size: 1em;
    background-color: #E2751A;
    border-color: black;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 10em; }

  form * {
    font-size: 1.5em; }
  form .lignePrix #prixMax {
    float: right; }
  form .lignePrix #prixMin {
    float: left; }
  form .lignePrix .barrePrix {
    background-color: #E2751A;
    position: relative;
    height: 2em;
    padding: 0;
    margin: 0; }
    form .lignePrix .barrePrix * {
      display: inline-block; }
    form .lignePrix .barrePrix p {
      position: absolute;
      margin: 0;
      color: #08090d; }
    form .lignePrix .barrePrix .selection {
      margin: 0 0 0 2em;
      padding: 0;
      height: 100%;
      width: 3em;
      background-color: green; }
    form .lignePrix .barrePrix #prixMax {
      float: right; }
    form .lignePrix .barrePrix #prixMin {
      vertical-align: top;
      margin: 0;
      padding: 0; }

  .formAjout {
    padding: 0; }
    .formAjout div {
      margin-bottom: 1rem; }
    .formAjout * {
      font-size: 2rem; } }
@media screen and (min-width: 1281px) {
  .row {
    width: 100%;
    font-size: 0em;
    margin-bottom: 1rem; }
    .row > *:last-child {
      margin-right: 0 !important; }

  .row .w-1 {
    width: 7.875%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .w-2 {
    width: 16.25%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .w-3 {
    width: 24.625%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .w-4 {
    width: 33%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .w-5 {
    width: 41.375%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .w-6 {
    width: 49.75%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .w-7 {
    width: 58.125%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .w-8 {
    width: 66.5%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .w-9 {
    width: 74.875%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .w-10 {
    width: 83.25%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .w-11 {
    width: 91.625%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .w-12 {
    width: 100%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box; }

  .row .offset-1 {
    margin-left: 7.83333%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1em; }

  .row .offset-2 {
    margin-left: 16.16667%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1em; }

  .row .offset-3 {
    margin-left: 24.5%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1em; }

  .row .offset-4 {
    margin-left: 32.83333%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1em; }

  .row .offset-5 {
    margin-left: 41.16667%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1em; }

  .row .offset-6 {
    margin-left: 49.5%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1em; }

  .row .offset-7 {
    margin-left: 57.83333%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1em; }

  .row .offset-8 {
    margin-left: 66.16667%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1em; }

  .row .offset-9 {
    margin-left: 74.5%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1em; }

  .row .offset-10 {
    margin-left: 82.83333%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1em; }

  .row .offset-11 {
    margin-left: 91.16667%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1em; }

  .row .offset-12 {
    margin-left: 99.5%;
    margin-right: 0.5%;
    display: inline-block;
    font-size: 1em; }

  .hiddenPC {
    display: none; }

  .formAjout {
    padding: 2rem 5rem 0 5rem; }
    .formAjout button {
      margin-left: 1em; }
    .formAjout p {
      margin: 0; }
    .formAjout .ajoutDetails, .formAjout .ajoutImage {
      padding: 2rem 5rem 0 5rem; }
    .formAjout .ajoutImage * {
      display: inline-block; }
    .formAjout .ajoutImage .photosAjoutees {
      vertical-align: top; }
    .formAjout .ajoutImage .annuler {
      width: 1em;
      height: 1em;
      padding-left: 0.5em; }
    .formAjout .ajoutImage table tr {
      display: block;
      padding: 0 0 0 1em; }
      .formAjout .ajoutImage table tr td {
        padding: 0; }
    .formAjout .description {
      padding: 2rem 5rem 0 5rem; }
      .formAjout .description #description {
        width: 100%;
        height: 25em; }

  main .page h2 {
    font-size: 2em;
    margin: 1em; }

  article {
    overflow: auto; }
    article h5 {
      font-size: 1.5rem; }
    article .texte-article {
      width: 70%; }
      article .texte-article p {
        margin: 0;
        padding: 0 0.5em 0 0.5em;
        font-size: 1.2rem; }

  .titre-categorie h2 {
    font-size: 2rem;
    margin-left: 1em; }

  .grosBouton {
    font-size: 1em;
    background-color: #E2751A;
    border-color: black;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    display: block; } }

/*# sourceMappingURL=library.css.map */
