//déclaration des valeurs 

$bgMenu:#18191E;
$fontClair:#A8A8C7;
$nbColumns:12;
$gutterWidth:0.5%;
$orange:#E2751A;
$bgImage:url(../images/body.png);
$headerImage:url(../images/student.jpg);
$bgSombre:#08090d;
$nbColumnsTablet:8;
$nbColumnsPhone:4;
$headerImagePhone:url(../images/header.png);


body{
	background-color:gray;
	background-image:$bgImage;
	font-size:0em;
	margin:0;
}


header{
	//background-color:orange;
	background-image:$headerImage;
	text-align:center;
	height: 600px;
	margin:0;
	display:block;
	border: solid 1px black;
	margin-bottom:0 !important;
	width:100%;
	box-sizing:border-box;
	& #title{
		text-align:center;
		margin:0;
		font-size:5rem;
		height:200px;
		line-height:200px;
		color:$orange;
		font-family:'Andale Mono','Trebuchet MS',Arial,sans-serif;
	}

}


nav{
	background-color:$bgMenu;
	color: $fontClair;
	height:auto;
	box-shadow: 0px 5px 8px 0px #242424;
	border:solid 1px $bgSombre;
	margin:0;
	width:100%;
	box-sizing:border-box;
	& a{
		color:$fontClair;
		text-decoration:none;
		font-size:1.5em;
	}
	& > .menu {
		list-style-type: none; 
		padding:0;
		font-size:0em;
		position:relative;
		height:auto;
		z-index:10;
		margin:0;
		& > li{
			display:inline-block;
			text-align:center;
			line-height:3rem;
			height:3em;
			font-size:1rem;
			vertical-align:top;
			& .deroulant li{
				display:none;
			}
			&:hover .deroulant {
				padding-left:0;
				li{
					display:block;
					background-color:$fontClair;
					border:solid 1px $bgSombre;
					& a{
						color:$bgMenu;
						display:inline-block;
					}
					&:hover{
						background-color:$orange;
						& a{
							color:$bgMenu;
						}
					}
				}
			}
		}
		& > li:hover{
			background-color:$orange;
			& > a{
				color:$bgMenu;
			}
		}
	}
}

main{
	margin:1rem; 
	font-size:0em;
	& .page{
		background-color:$bgMenu;
		color:$fontClair;
		padding:($gutterWidth/2);
		position:relative;
		& h2{
			/*font-size:2em;
			margin:1em;*/
			color:$orange;
		}
		& fieldset{
			margin:1em;
		}
	}
}
.titre-categorie{
	background-color:$bgSombre;
	color:$orange;
	padding:0.5em;
	margin:0;
	& h2{
		/*font-size:2rem;
		margin-left:1em;*/
	}
}
.categorie{
	background-color:$bgMenu;
	color:$fontClair;
	vertical-align:top;
	box-shadow: 0px 5px 8px 0px #242424;
	article{
		font-size:0em !important;
		padding:1rem;
		border:solid 1px $bgSombre;
		& h5{
			//font-size:1.5rem;
		}
		& > div{
			display:inline-block;		
		}
		& .miniature{
			width:30%;
			height:auto;
			margin:0;
			& img{
				width:100%;
			}
		}
		
		& .texte-article{
			//width:70%;
			margin:0;
			vertical-align:top;
			& p{
				/*margin:0;
				padding:0 0.5em 0 0.5em;
				font-size:1.2rem;*/
			}
		}
	}
}

a{
	color:$orange;
}

.clear{
	clear:both;
	display:none;
}


.details{
	background-color:$bgMenu;
	& .images{
		padding:2rem;
		font-size:0em !important;
		& .cadreAffichage{
			width:80%;
			background-color:black;
			display:inline-block;
			height:500px;
			padding:0;
			margin:0;
			vertical-align:top;
			font-size:0em;
			& p{
				margin:0;
				text-align:center;
				& img{
					max-width:100%;
					margin:auto;
					vertical-align:center;
					line-height:500px;
					height:500px;
					width:auto;
				}
			}
		}
		& .miniaturesDetail{
			background-color:#2b2b2b;
			width:20%;
			display:inline-block;
			height:500px;
			text-align:center;

			& img{
				height:30%;
				width:100%;
			}
			& .fleche{
				max-width:100%;
				width:auto;
				height:5%;
				margin-right:auto;
				margin-left:auto;
			}
		}
	}
	& .descriptionRacoin{
		border:solid 1px black;
		color:$fontClair;
		height:500px;
		width:100%;
		padding:1rem;
		& tr{
			& td{
				padding:1em;
				border:solid 1px black;
			}
		}
		
		& td[colspan="2"]{
			text-align:center;
			& button{
				font-size:2em;
				background-color:$orange;
				border-color:black;
			}
		}
	}
}

.detailsTechniques{
	box-sizing:border-box;
	border:solid 1px black;
	color:$fontClair;
	& p{padding:2rem;}
}

.descriptionAnnonceur{
	& p{
		color:$fontClair;
		padding:2rem;
	}
}

//media phone

@media screen and (max-width: 320px){
	*{
	}

	.row{
		width:100%;
		font-size:0em;
		margin-bottom:1rem;
		& > *:last-child{
			margin-right: 0 !important;
		}
	}

	@for $i from 1 through $nbColumnsPhone{

		.row .p-#{$i}{
		width:((100%/4)*$i) - $gutterWidth;
		margin-right:$gutterWidth;
		display:inline-block;
		font-size:1rem;
		box-sizing:border-box;
		}
	}

	@for $i from 1 through $nbColumnsPhone{
		
		.row .offsetP-#{$i}{
		margin-left:((100%/4)*$i) - $gutterWidth;
		margin-right:$gutterWidth;
		display:inline-block;
		font-size:1rem;
		box-sizing:border-box;
		}
		
	}
	header{
		background-image:$headerImagePhone;
		text-align:center;
		height: 75px;
		margin:0;
		display:block;
		border: solid 1px black;
		& #title{
			text-align:center;
			margin:0;
			font-size:2rem;
			height:200px;
			line-height:75px;
			color:$orange;
			font-family:'Andale Mono','Trebuchet MS',Arial,sans-serif;
		}
	}
	
	.buttonNav{
		
		height: 3rem;
		display:inline-block;
	}
	.buttonNav1{
		display:inline-block;
	}
	.titre-categorie{
		box-sizing:border-box;
		border: solid 1px $orange;
	}
	ul{
		padding-left: 15px;
	}
	.hiddenPhone{
		display:none;
	}
	body{
		& nav{
			& .hiddenPhone{
				display:none;
			}
		}
	}

	.titre-categorie{
		& h2{
			font-size:1.1rem;
			margin-left:1em;
		}
	}

	main{
		& .page{
			& h2{
			font-size:1.2em;
			margin:0.6em;
			}
		}
	}

	article{
		overflow:auto;
		& h5{
			font-size:1.1rem;
		}
		& .texte-article{
			width:100%;
			font-size:1em;
			padding:0px;
			& p{
				margin:0;
				padding:0 0.5em 0 0.5em;
				font-size:1rem;
			}
		}
	}
	.details{

		& .images{
			& .miniaturesDetail
			{
				display:none;
			}
		}
	}

	.imageDetail
	{
		width:100%;
		display:none;
	}
	.details .images .cadreAffichage p img{
		max-height: 200px;
	}
	.details .images .cadreAffichage{
		max-height: 200px;
	}

	.formAjout{
		& button{
			margin-left:1em;
		}
		& p{
			margin:0;
		}
		padding:0.25rem;
		& .ajoutDetails, .ajoutImage{
		}
		& .ajoutImage{
			& *{
				display:inline-block;
			}
			& .photosAjoutees{
				vertical-align:top;
			}
			& .annuler{
				width:1em;
				height:1em;
				padding-left:0.5em;
			}
			& table tr{
				display:block;
				padding:0 0 0 1em;
				& td{
					padding:0;
					
				}
			}
		}
		& .description{
			& #description{
				width:100%;
				height:25em;
			}
		}
	}
	.grosBouton{ //changer ça
		font-size:1em;
		background-color:$orange;
		border-color:black;
		width:50%;
		margin-right:25%;
		margin-left:25%;
		display:block;
	}
	.titre-categorie{ 
		& a{
			font-size:0.8em;
			margin-right:0.5em;
			float:right;
		}
	}
}//fin de media phone

// Media PC

//media tablette
@media screen and (min-width: 321px) and (max-width:1280px){
	.hiddenTablet{
		display:none;
	}
	.rowTablet{
		width:100%;
		font-size:0em;
		margin-bottom:1rem;
		& > *:last-child{
			margin-right: 0 !important;
		}
	}

	@for $i from 1 through $nbColumnsTablet{

		@if $i==8{
			.rowTablet .t-#{$i}{
			width:((100%/$nbColumnsTablet)*$i);
			margin-right:$gutterWidth;
			display:inline-block;
			font-size:1rem;
			box-sizing:border-box;
			}
		}
		@else{
			.rowTablet .t-#{$i}{
			width:(((100%+$gutterWidth)/$nbColumnsTablet)*$i)-$gutterWidth;
			margin-right:$gutterWidth;
			display:inline-block;
			font-size:1rem;
			box-sizing:border-box;
			}
		}
	}
	.grosBouton{ //changer ça
		font-size:2em;
		background-color:$orange;
		border-color:black;
		width:10em;
		margin-right:auto;
		margin-left:auto;
		display:block;
	}

	main{
		& .page{
			& h2{
				font-size:2em;
				margin:1em;	
			}
		}
	}
	article{
		overflow:auto;
		& h5{
			font-size:1.5rem;
		}
		& .texte-article{
			width:70%;
			& p{
				margin:0;
				padding:0 0.5em 0 0.5em;
				font-size:1.2rem;
			}
		}

	}
	.titre-categorie{
		& h2{
			font-size:2rem;
			margin-left:1em;
		}
	}
	header{
		height: 550px;
	}

	.formAjout{
		font-size:1rem;
		& button{
			margin-left:1em;
		}
		& p{
			margin:0;
		}
		padding:2rem 5rem 0 5rem;
		& .ajoutDetails, .ajoutImage{
			padding:2rem 5rem 0 5rem;
		}
		& .ajoutImage{
			& *{
				display:inline-block;
			}
			& .photosAjoutees{
				vertical-align:top;
			}
			& .annuler{
				width:1em;
				height:1em;
				padding-left:0.5em;
			}
			& table tr{
				display:block;
				padding:0 0 0 1em;
				& td{
					padding:0;
					
				}
			}
		}
		& .description{
			padding:2rem 5rem 0 5rem;
			& #description{
				width:100%;
				height:25em;
			}
		}
	}
	#rechercher{
		font-size:1em;
		background-color:$orange;
		border-color:black;
		margin-right:auto;
		margin-left:auto;
		display:block;
		width:10em;
	}
	form{
		& *{font-size:1.5em;}
		& .lignePrix{
			& #prixMax{
				float:right;
			}
			& #prixMin{
				float:left;
			}
			& .barrePrix{
				background-color:$orange;
				position:relative;
				height:2em;
				padding:0;
				margin:0;
				& *{
					display:inline-block;
				}
				& p{
					position:absolute;
					margin:0;
					color:$bgSombre;
				}
				& .selection{
					margin:0 0 0 2em;
					padding:0;
					height:100%;
					width:3em;
					background-color:green;
				}
				& #prixMax{
					float:right;
				}
				& #prixMin{
					vertical-align:top;
					margin:0;
					padding:0;
				}
			}
		}
	}
	.formAjout{
		& div{margin-bottom:1rem;}
		padding:0;
		& *{font-size:2rem;}
	}
}
//fin media tablette

@media screen and (min-width: 1281px){

	.row{
		width:100%;
		font-size:0em;
		margin-bottom:1rem;
		& > *:last-child{
			margin-right: 0 !important;
		}
	}

	@for $i from 1 through $nbColumns{

		@if $i==12{
			.row .w-#{$i}{
			width:((100%/12)*$i);
			margin-right:$gutterWidth;
			display:inline-block;
			font-size:1rem;
			box-sizing:border-box;
			}
		}
		@else{
			.row .w-#{$i}{
			width:(((100%+$gutterWidth)/12)*$i)-$gutterWidth;
			margin-right:$gutterWidth;
			display:inline-block;
			font-size:1rem;
			box-sizing:border-box;
			}
		}
	}
	@for $i from 1 through $nbColumns{
		
		.row .offset-#{$i}{
		margin-left:((100%/12)*$i)-$gutterWidth;
		margin-right:$gutterWidth;
		display:inline-block;
		font-size:1em;
		}
		
	}

	.hiddenPC{
		display:none;
	}

	.formAjout{
		& button{
			margin-left:1em;
		}
		& p{
			margin:0;
		}
		padding:2rem 5rem 0 5rem;
		& .ajoutDetails, .ajoutImage{
			padding:2rem 5rem 0 5rem;
		}
		& .ajoutImage{
			& *{
				display:inline-block;
			}
			& .photosAjoutees{
				vertical-align:top;
			}
			& .annuler{
				width:1em;
				height:1em;
				padding-left:0.5em;
			}
			& table tr{
				display:block;
				padding:0 0 0 1em;
				& td{
					padding:0;
					
				}
			}
		}
		& .description{
			padding:2rem 5rem 0 5rem;
			& #description{
				width:100%;
				height:25em;
			}
		}
	}



	main{
		& .page{
			& h2{
				font-size:2em;
				margin:1em;	
			}
		}
	}
	article{
		overflow:auto;
		& h5{
			font-size:1.5rem;
		}
		& .texte-article{
			width:70%;
			& p{
				margin:0;
				padding:0 0.5em 0 0.5em;
				font-size:1.2rem;
			}
		}

	}
	.titre-categorie{
		& h2{
			font-size:2rem;
			margin-left:1em;
		}
	}
	.grosBouton{ //changer ça
		font-size:1em;
		background-color:$orange;
		border-color:black;
		width:50%;
		margin-right:25%;
		margin-left:25%;
		display:block;
	}
}
//fin de media pc

